*.gem
*.rbc
.bundle
.config
.rspec
.autotest
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/vcr
spec/support/spec_config.yml
